.Slogan-container {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	flex-wrap: nowrap;
	color: white;
}

.Slogan-title {
	font-weight: 700;
}

.Slogan-text {
	font-weight: 400;
	font-size: 14px;
}
